* {
  font-family: helvetica;
  color: #303030;
}

a {
  color: #BF550A;
  text-decoration: none;
}

body {
  background-color: #F7F3ED;
}

#container {
  background-color: #D9CBB8;
  min-width: 460px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.alert {
  background-color: #BF550A;
  border: 3px solid #303030;
  padding: 3px;
}

.notice {
  background-color: #25A860;
  border: 3px solid #303030;
  padding: 3px;
}