* {
  font-family: helvetica;
  color: #515151;
}

a {
  color: #00B4FF;
  text-decoration: none;
}

#container {
  background-color: #EEEEEE;
  min-width: 460px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5px;
}

.alert {
  
}

.notice {

}