* {
  font-family: helvetica;
  color: #303030;
}

a {
  color: #BF550A;
  text-decoration: none;
}

body {
  background-color: #F7F3ED;
}

#container {
  background-color: #D9CBB8;
  min-width: 460px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5px;
}

.alert {

}

.notice {

}